.et_pb_column_8 {
    border-radius: 0px !important;
}

#tribe-events-pg-template,
.tribe-events-pg-template {
    padding-top: 5%;
    padding-bottom: 5%;
}

/** debug **/
/* .et_pb_row { border: 1px dotted red!important; }
.et_pb_column {	border-top: 1px dotted green!important;	border-bottom: 1px dotted green!important; }
*/

/* Typography. Establish 8px vertical grid */
.has-pb-0 h1,
.has-pb-0 h2,
.has-pb-0 h3,
.has-pb-0 h4,
.has-pb-0 h5,
.has-pb-0 h6,
.has-pb-0 p {
    padding-bottom: 0 !important
}

.has-pb-8 h1,
.has-pb-8 h2,
.has-pb-8 h3,
.has-pb-8 h4,
.has-pb-8 h5,
.has-pb-8 h6,
.has-pb-8 p {
    padding-bottom: 8px !important;
    padding-bottom: 0.5rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-bottom: 16px;
    padding-bottom: 1rem;
}

p {
    padding-bottom: 16px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 24px;
    line-height: 1.5
}

.et_pb_button {
    line-height: 1.3333 !important;
}

@media (max-width: 980px) {
    .et_pb_row .et_pb_module {
        margin-bottom: 32px;
        margin-bottom: 2rem;
    }
}

@media (min-width: 981px) {
    .et_pb_row .et_pb_module {
        margin-bottom: 32px;
        margin-bottom: 2rem;
    }
}

@media (max-width: 980px) {
    .et_pb_row .et_pb_toggle.et_pb_module {
        margin-bottom: 16px;
        margin-bottom: 1rem;
    }
}

@media (min-width: 981px) {
    .et_pb_row .et_pb_toggle.et_pb_module {
        margin-bottom: 16px;
        margin-bottom: 1rem;
    }
}


/** Envelope Icon Link found on Staff **/
.mr-email-link {
    display: inline-block;
    margin-top: 16px;
    margin-top: 1rem;
    padding: 9px 10px 6px 9px;
    padding: .5625rem .625rem .375rem .5625rem;
    background-color: #8c8c8c;
    color: #fff;
    -webkit-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

@media screen and (max-width: 980px) {
    .mr-email-link {
        padding: 13px 14px 10px 13px;
        padding: .8125rem .875rem .625rem .8125rem;
    }
}

.mr-email-link span {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 1;
}

.mr-email-link:hover {
    background-color: #bfbfbf;
}

@media screen and (max-width: 980px) {
    .mr-unified-col-space {
        margin-bottom: 16px !important;
        margin-bottom: 1rem !important;
    }
}

.et_pb_team_member .et_pb_module_header {
    padding-bottom: 0;
}


/** Changing Order on Tablets and Mobile Devices **/
@media screen and (max-width: 980px) {
    .is-reversed-mobile,
    .change-order {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    .is-reversed-mobile > div:first-child,
    .change-order > div:first-child {
        -ms-flex-order: 2;

        -webkit-box-ordinal-group: 3;
        order: 2;
    }
    .is-reversed-mobile > div:last-child,
    .change-order > div:last-child {
        -ms-flex-order: 1;

        -webkit-box-ordinal-group: 2;
        order: 1;
    }
}

/** Link in Accordions needs another styling **/
.et_pb_accordion a,
.et_pb_accordion h5 {
    color: #fff;
}

/** Date and Time reduced padding bottom  **/
h5 {
    padding-bottom: 0 !important;
}

/* Apply this class on Row so that buttons are side by side */
.has-buttons-side-by-side {
    text-align: center;
}

.has-buttons-side-by-side .et_pb_button_module_wrapper {
    display: inline-block;
    margin-left: 1.5em;
    width: auto;
}

.has-buttons-side-by-side .et_pb_button_module_wrapper:first-child {
    margin-left: 0;
}

/* Gravity Forms CSS
========================================*/
/* Reset spacing of form
----------------------------------------*/
.gform_wrapper {
  margin: 0;
}
/* Make One Column
----------------------------------------*/
.subscribe-form, .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}
.subscribe-form .gform_body,
.contact-form .gform_body {
	padding-right: 0!important;
	width: 100%!important;
}

.subscribe-form .gform_body .gform_fields,
.contact-form .gform_body .gform_fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.subscribe-form .gform_footer,
.contact-form .gform_footer {
	width: 100%!important;
}

/* Make one column in gform_body
----------------------------------------*/
.subscribe-form .gform_body .gform_fields .gfield,
.contact-form .gform_body .gform_fields .gfield {
	margin-bottom: 16px;
	margin-left: 0!important;
	width: 100%!important;
}
.subscribe-form .gform_body .gform_fields #field_1_4,
.subscribe-form	.gform_body .gform_fields #field_2_4,
.contact-form .gform_body .gform_fields #field_1_4,
.contact-form .gform_body .gform_fields #field_2_4 {
	margin-left: 0!important;
}

/* Reset any margin, padding
   on inputs and submit buttons
----------------------------------------*/
.subscribe-form .gform_body .gform_fields li.gfield .ginput_container,
.contact-form .gform_body .gform_fields li.gfield .ginput_container {
  margin: 0;
  width: 100%!important;
}
.subscribe-form .gform_footer,
.contact-form .gform_footer {
  margin: 0!important;
  padding: 0!important;
}
.gform_body .gfield_label,
.gform_body label {
  display: none!important;
}
.subscribe-form span,
.contact-form span {
  margin: 0!important;
  padding: 0!important;
}
.subscribe-form input,
.contact-form input {
  display: block;
  margin: 0!important;
  padding: 16px!important;
  width: 100%!important;
  border: 0!important;
  line-height: 24px!important;
}
.subscribe-form button[type="submit"],
.contact-form button[type="submit"] {
  padding: 12px 24px!important;
  font-weight: 700;
  cursor: pointer!important;
}
.subscribe-form button[type="submit"]:hover,
.contact-form button[type="submit"]:hover {
  padding: 12px 24px!important;
}
/* End Of Gravity Forms */


#top-menu ul.sub-menu {
    width: 360px;
}

#top-menu ul.sub-menu li a {
    width: 360px;
}
